<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yanyi.dao.FootsDao">
	<select id="queryAll" resultType="com.yanyi.entity.FootsDto" parameterType="com.yanyi.entity.FootsDto">
		select * from study_Foots
	</select>
	
	<delete id="delFootsById"  parameterType="string">
		delete from study_Foots where id in (${value})
	</delete>
	
	<insert id="addFoots"  parameterType="com.yanyi.entity.FootsDto">
		insert into study_Foots (costomer_id, course_id, updateTime) values ( #{costomer_id}, #{course_id}, #{updateTime})
	</insert>
	
</mapper>